//RWD ---OK

.display-title {
  position: fixed;
  top: 120px;
  right: -1300px;
  font-size: 288px;
  color: $secondary-color;
  white-space: nowrap;
  z-index: -1;
}

.art-title {
  margin: 200px 0px 100px 0px;
}

.art-wrap {
  margin-bottom: 200px;
}

//arts-card
.arts-card {
  margin-bottom: 64px;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.arts-card-1 {
  margin: 200px 0px 0px 0px;
}

.arts-card-3 {
  margin: -100px 0px 0px 0px;
}

.arts-card-4 {
  margin: 200px 0px 0px 0px;
}

.arts-card-5 {
  margin: -60px 0px 0px 0px;
}

.arts-card-6 {
  margin: 250px 0px 0px 0px;
}

@media screen and (max-width: 767.98px) {
  .display-title {
    display: none;
  }

  .art-title {
    margin: 120px 0px 0px 0px;
  }

  .wrap-row {
    flex-flow: column wrap;

    .w-30,
    .w-40 {
      width: 100%;
    }
  }

  .art-wrap {
    margin-bottom: 100px;
  }

  .arts-card-1,
  .arts-card-3,
  .arts-card-4,
  .arts-card-5,
  .arts-card-6 {
    margin: 40px 0;
  }
}