.contact-section {
  .dark-color {
    margin: 32px 32px;
  }
}

.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

}

.form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form-column {
  padding: 24px 32px;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

//
//input
.input-string,
.input-textarea {
  position: relative;
}

.input {
  padding: 12px;
  width: 100%;
  color: $dark-color;
  border: 1px solid $dark-color;
  border-width: 0 0 1px 0;
  // 取消focus時的藍色框
  outline: none;

  :focus {
    outline: none;
  }
}

select {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0px;
}

.input-label {
  position: absolute;
  color: $dark-color;
  top: 8px;
  left: 8px;
  pointer-events: none;
}

.input-textarea-input {
  padding: 12px;
  width: 100%;
  color: $dark-color;
  border: 1px solid $dark-color;
  border-width: 0 0 1px 0;
  resize: none;
  outline: none;
}

.input-textarea {
  label {
    top: 0px
  }
}

.submit-btn {
  margin: 0px 32px;
  padding: 12px;
  display: inline-block;
  width: 150px;
  background-color: transparent;
  border: 1px solid $dark-color;
  border-width: 0 0 1px 0;
  align-self: flex-end;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  cursor: pointer;
}