//works-banner
.work-banner {
  height: 580px;
  background: url(../assets/works_banner.jpg) no-repeat 50% 50%;
  background-size: cover;
}

//title-box
.work-title-wrap {
  margin: -100px 0 100px 0;
  justify-content: space-between;
  align-items: flex-end;

  .work-title-box {
    padding: 35px 60px;
    background-color: $secondary-color;
    text-align: center;

    h3 {
      margin: 35px 0px;
    }
  }
}

//works-list-card
.works-list {
  display: flex;
  justify-content: space-between;
}

.works-card {
  padding: 0px;
  margin-bottom: 64px;

  div {
    margin: 15px 0px 10px 0px;
    display: flex;
    align-items: center;
  }
}

//works-series
.works-series-wrap {
  margin: 100px 0;
  justify-content: space-between;


  .w-45 {
    width: 47%;
  }

  h4 {
    margin: 32px 0px;
  }

  h6 {
    margin: 10px 0px 10px 0px;
  }
}