@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  line-height: 1;
  color: #6C4D41;
}

main {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #6C4D41;
  cursor: none;
}

img,
video {
  max-width: 100%;
}

.primary-color {
  color: #6C4D41;
}

.secondary-color {
  color: #E6DFD9;
}

.dark-color {
  color: #3C363B;
}

.bg-secondary {
  background: #E6DFD9;
}

.bg-secondary-dark {
  background: #EDDEDA;
}

.px-24 {
  padding: 0 24px;
}

.mx--24 {
  margin: 0 -24px;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.wrap-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrap-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1500px;
  }
}

@media screen and (max-width: 767.98px) {
  .wrap-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .wrap-row .w-30,
  .wrap-row .w-40 {
    width: 100%;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  letter-spacing: 8px;
}

h2 {
  font-family: 'Noto Serif Display', serif;
  font-size: 144px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 10px;
  color: #F5F5F5;
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 8px;
}

h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 8px;
}

h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 4px;
}

h6 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.price-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 3px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.caption {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.label {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
}

.titlebox {
  margin-bottom: 64px;
  width: 100%;
  position: relative;
}

.titlebox h1 {
  position: absolute;
  top: auto;
  right: 0%;
  left: 0%;
  bottom: 20px;
}

.sub-title {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.left-fixed {
  position: fixed;
  right: 20px;
  padding: 8px;
  text-align: center;
  z-index: 99;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.left-fixed .copyright {
  display: block;
  position: absolute;
  width: 100vh;
  font-size: 12px;
}

@media screen and (max-width: 575.98px) {
  .left-fixed {
    right: 0px;
    text-align: center;
    z-index: 99;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .left-fixed .copyright {
    display: block;
    position: absolute;
    width: 100vh;
    font-size: 12px;
  }
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.btn-primary {
  background-color: #6C4D41;
  color: #E6DFD9;
}

.btn-secondary {
  background-color: #E6DFD9;
  color: #6C4D41;
}

.btn-primary-outline {
  border: 1px solid #6C4D41;
  color: #6C4D41;
}

.btn-primary-outline:hover {
  background-color: #6C4D41;
  color: #E6DFD9;
}

.btn-secondary-outline {
  border: 1px solid #E6DFD9;
  color: #E6DFD9;
}

.btn-secondary-outline:hover {
  background-color: #E6DFD9;
  color: #6C4D41;
}

.tag {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn-more {
  margin: 10px 20px 0px 0px;
  padding: 8px 0px;
  width: 150px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #6C4D41;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1;
  color: #3C363B;
}

.btn-more::before {
  content: "";
  width: 12px;
  height: 1px;
  background: #3C363B;
  position: absolute;
  top: 30%;
  margin-top: 2px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-more::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #3C363B;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin-top: -1px;
  top: 30%;
  right: 0px;
}

.navbar {
  width: 100vw;
  position: fixed;
  top: 0%;
  z-index: 9;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.navbar .container-navbar {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container-navbar .navbar-brand {
  margin-right: auto;
}

.navbar .container-navbar .navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container-navbar .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .container-navbar .navbar-collapse .navbar-nav .nav-item .navlink {
  padding: 16px 30px;
  letter-spacing: 2px;
}

.navbar .container-navbar .navbar-toggler {
  margin-left: 30px;
  border: none;
  background-color: transparent;
}

.navbar .container-navbar .navbar-toggler .line-1 {
  width: 24px;
  height: 1px;
  background-color: #6C4D41;
  margin-top: 1px;
}

.navbar .container-navbar .navbar-toggler .line-2 {
  width: 24px;
  height: 1px;
  background-color: #6C4D41;
  margin-top: 11px;
}

@media screen and (max-width: 767.98px) {
  .navbar-collapse {
    display: none !important;
  }
}

.footer {
  padding: 64px 0px;
  background-color: #F9F9F9;
}

.footer .container-footer {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .container-footer a {
  display: block;
  padding: 8px 0;
  color: #3C363B;
  letter-spacing: 2px;
}

.footer .container-footer .brandbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .container-footer .brandbox .follow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container-footer .brandbox .follow-box .ig {
  margin-left: 40px;
  margin-right: 15px;
  line-height: 1;
}

.footer .container-footer .brandbox .follow-box .fb {
  margin-left: 10px;
  line-height: 1;
}

.footer .container-footer .brandbox h4 {
  font-family: 'Cormorant Garamond';
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer {
    padding: 30px 0px;
  }
  .footer .container-footer .sitemap {
    display: block;
    width: 20%;
  }
  .footer .container-footer .info-box {
    display: block;
    width: 70%;
  }
  .footer .container-footer .brandbox {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column wrap !important;
            flex-flow: column wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 40px;
    width: 100%;
  }
  .footer .container-footer .brandbox .follow-box {
    margin-left: -20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer .container-footer .brandbox h4 {
    font-size: 54px;
  }
  .footer .container-footer .brandbox p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.menu-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: fixed;
  background-color: #3C363B;
}

.menu-section .menubg {
  width: 30%;
  height: 100vh;
  background: url(../assets/menu_img.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.menu-section .menu-content {
  padding: 60px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-section .menu-content .menu-link-wrap .menulink {
  margin: 10px 0px;
  padding: 10px 0;
  display: block;
  font-family: 'Noto Serif TC', serif;
  font-size: 32px;
  letter-spacing: 8px;
  font-weight: 100;
  color: #E6DFD9;
}

.menu-section .menu-content .menu-contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-section .menu-content .menu-contact-wrap .item-1 {
  display: block;
  width: 100%;
  color: #E6DFD9;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.menu-section .menu-content .menu-contact-wrap .menu-info-wrap {
  width: 30%;
}

.menu-section .menu-content .menu-contact-wrap .menu-info-wrap .item-2,
.menu-section .menu-content .menu-contact-wrap .menu-info-wrap .item-3 {
  color: #E6DFD9;
  margin: 0 0 16px 0;
}

.menu-section .menu-content .menu-contact-wrap .menu-sns-wrap {
  width: 20%;
}

.menu-section .menu-content .menu-contact-wrap .menu-sns-wrap .item-4,
.menu-section .menu-content .menu-contact-wrap .menu-sns-wrap .item-5 {
  margin: 0 0 16px 0;
  display: block;
}

.menu-section .menu-content .menu-contact-wrap .menu-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-section .menu-content .menu-contact-wrap .menu-btn-wrap .item-6,
.menu-section .menu-content .menu-contact-wrap .menu-btn-wrap .item-7 {
  display: inline-block;
  max-height: 50px;
  margin: 0px 10px;
  padding: 16px 42px;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
}

.menu-section .menu-content .menu-contact-wrap .item-8 {
  display: block;
  width: 100%;
  color: #E6DFD9;
  opacity: 50%;
  letter-spacing: 1px;
  margin: 10px 0 0 0;
}

@media (max-width: 1199.98px) {
  .menu-section .menu-content {
    padding: 40px;
  }
  .menu-section .menu-content .menu-contact-wrap {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row wrap !important;
            flex-flow: row wrap !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .menu-section .menu-content .menu-contact-wrap .item-1 {
    display: none;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-info-wrap {
    width: 300px;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-info-wrap .item-2,
  .menu-section .menu-content .menu-contact-wrap .menu-info-wrap .item-3 {
    margin: 0 0 12px 0;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-sns-wrap {
    width: 20%;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-btn-wrap {
    width: 40%;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-btn-wrap .item-6,
  .menu-section .menu-content .menu-contact-wrap .menu-btn-wrap .item-7 {
    display: block;
    width: auto;
    margin: 0 10px 0 0;
    padding: 16px 32px;
    white-space: nowrap;
  }
}

@media (max-width: 767.98px) {
  .menu-section .menubg {
    display: none;
  }
  .menu-section .menu-content {
    width: 100%;
  }
  .menu-section .menu-content .menu-contact-wrap .menu-btn-wrap {
    width: 100%;
  }
  .menu-section .menu-content .menu-contact-wrap .item-8 {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .menu-section .menu-content {
    padding: 20px;
  }
  .menu-section .menu-content .menu-link-wrap .menulink {
    font-size: 24px;
  }
}

.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
}

#ball {
  width: 60px;
  height: 60px;
  background: none;
  background: #E6DFD9;
  opacity: 50%;
  border-radius: 50%;
  /* absoulute才能讓js指定他的xy */
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  pointer-events: none;
}

.hero-section {
  padding: 90px 5% 0px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .w-35 {
  margin-top: 100px;
}

.hero-section .w-65 {
  padding-left: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-section .w-65 img {
  margin-top: 30px;
  margin-right: 20px;
}

.hero-section .brand-video {
  max-width: 100%;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 180px 0;
}

.about-section .about-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.about-section .about-l .titlebox {
  display: inline-block;
  width: auto;
}

.about-section .about-r {
  margin-left: 50px;
}

.about-section .about-r p {
  margin-top: 20px;
}

.about-section .about-r .ab-imgbox {
  margin-top: 60px;
}

.about-section .about-r .ab-imgbox img {
  margin-right: 20px;
}

.works-section {
  margin: 180px 0;
}

.works-section .index-works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.works-section .index-works-card p {
  margin-top: 12px;
}

.works-section .index-works-card.left {
  margin-top: 150px;
  margin-left: -120px;
}

.works-section .index-works-card.right {
  margin-top: 150px;
  margin-right: -120px;
}

.arts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 180px;
}

.arts-section .art-l {
  height: 540px;
  background: url("../assets/arts.jpg") no-repeat 55% 50%;
  background-size: cover;
}

.arts-section .art-r {
  position: relative;
  padding-left: 64px;
}

.arts-section .art-r h4 {
  margin-bottom: 32px;
}

.arts-section .art-r img {
  position: absolute;
  bottom: -10%;
  left: -20%;
  z-index: -1;
}

.class-container {
  margin-top: 200px;
  margin-left: 200px;
}

.index-class-wrap {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.class-card {
  padding: 32px;
  margin-right: 64px;
  width: 560px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.class-card img {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.class-card h6 {
  margin-top: 24px;
}

.contact-section {
  margin: 120px 0;
}

.contact-l {
  color: #3C363B;
  position: relative;
  overflow: hidden;
}

.contact-l h2 {
  position: absolute;
  z-index: -1;
  right: 0px;
}

.contact-l .text {
  margin-left: 20%;
  margin-top: 100px;
}

.contact-l h1 {
  margin-bottom: 20px;
}

.contact-l p {
  margin-bottom: 20px;
}

.contact-l .label a {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  color: #3C363B;
  margin-bottom: -10px;
}

.contact-l .follow-box {
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-l .follow-box span {
  padding-top: 6px;
}

.contact-l .follow-box .ig {
  margin-left: 40px;
  margin-right: 15px;
}

.contact-l .follow-box .fb {
  margin-left: 10px;
}

.contact-r {
  background: url(../assets/contact.jpg) no-repeat 55% 50%;
  background-size: cover;
}

.display-title {
  position: fixed;
  top: 120px;
  right: -1300px;
  font-size: 288px;
  color: #E6DFD9;
  white-space: nowrap;
  z-index: -1;
}

.art-title {
  margin: 200px 0px 100px 0px;
}

.art-wrap {
  margin-bottom: 200px;
}

.arts-card {
  margin-bottom: 64px;
}

.arts-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arts-card-1 {
  margin: 200px 0px 0px 0px;
}

.arts-card-3 {
  margin: -100px 0px 0px 0px;
}

.arts-card-4 {
  margin: 200px 0px 0px 0px;
}

.arts-card-5 {
  margin: -60px 0px 0px 0px;
}

.arts-card-6 {
  margin: 250px 0px 0px 0px;
}

@media screen and (max-width: 767.98px) {
  .display-title {
    display: none;
  }
  .art-title {
    margin: 120px 0px 0px 0px;
  }
  .art-wrap {
    margin-bottom: 100px;
  }
  .arts-card-1,
  .arts-card-2,
  .arts-card-3,
  .arts-card-4,
  .arts-card-5,
  .arts-card-6 {
    margin: 40px 0;
  }
}

.work-banner {
  height: 580px;
  background: url(../assets/works_banner.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.work-title-wrap {
  margin: -100px 0 100px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-title-wrap .work-title-box {
  padding: 35px 60px;
  margin-right: 50px;
  background-color: #E6DFD9;
  text-align: center;
}

.work-title-wrap .work-title-box h3 {
  margin: 35px 0px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-card {
  padding: 0px;
  margin-bottom: 64px;
}

.works-card div {
  margin: 15px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-series-wrap {
  margin: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-series-wrap .w-45 {
  width: 47%;
}

.works-series-wrap h4 {
  margin: 32px 0px;
}

.works-series-wrap h6 {
  margin: 10px 0px 10px 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-banner {
    height: 500px;
  }
  .work-title-wrap {
    margin: -60px 0 100px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .work-title-wrap .work-title-box {
    padding: 35px 30px;
    margin-right: 20px;
  }
  .work-title-wrap .work-title-box h3 {
    margin: 20px 0px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767.98px) {
  .work-banner {
    height: 500px;
  }
  .work-title-wrap {
    margin: -60px auto 60px auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .work-title-wrap .work-title-box {
    margin: 0 auto;
    padding: 35px 30px;
  }
  .work-title-wrap .work-title-box h3 {
    font-size: 36px;
  }
  .work-title-wrap .w-50 {
    margin: 20px auto;
    width: 85%;
    text-align: center;
  }
  .works-series-wrap .w-45 {
    width: 100%;
    margin-bottom: 40px;
  }
}

.class-hero {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: end;
}

.class-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.class-bg {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  background-color: #3C363B;
  z-index: -1;
}

.class-title-wrap {
  margin: 10% auto 400px 8%;
  width: 36%;
}

.class-title-wrap h3 {
  margin: 10px 0px 30px 0px;
}

.class-img-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10%;
  right: 3%;
  z-index: -1;
}

.class-img-wrap .class-bn-1 {
  margin-top: 30%;
  margin-right: 30px;
  width: 45%;
  height: 400px;
  background: url(../assets/class_bn_01.png) no-repeat 50% 50%;
  background-size: cover;
}

.class-img-wrap .class-bn-2 {
  margin-top: 4%;
  width: 55%;
  height: 500px;
  background: url(../assets/class_bn_02.png) no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767.98px) {
  .class-title-wrap {
    margin: 100px 0 40px 0;
    padding: 0px 40px;
    width: 100%;
  }
  .class-img-wrap {
    margin: 0 0 50px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    top: 0%;
  }
  .class-img-wrap .class-bn-1 {
    margin-top: 15%;
    width: 40%;
    height: 300px;
  }
  .class-img-wrap .class-bn-2 {
    width: 55%;
    height: 300px;
  }
}

.contact-section .dark-color {
  margin: 32px 32px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-column {
  padding: 24px 32px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.input-string,
.input-textarea {
  position: relative;
}

.input {
  padding: 12px;
  width: 100%;
  color: #3C363B;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  outline: none;
}

.input :focus {
  outline: none;
}

select {
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  background-color: transparent;
  -webkit-appearance: none;
  border-radius: 0px;
}

.input-label {
  position: absolute;
  color: #3C363B;
  top: 8px;
  left: 8px;
  pointer-events: none;
}

.input-textarea-input {
  padding: 12px;
  width: 100%;
  color: #3C363B;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  resize: none;
  outline: none;
}

.input-textarea label {
  top: 0px;
}

.submit-btn {
  margin: 0px 32px;
  padding: 12px;
  display: inline-block;
  width: 150px;
  background-color: transparent;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  cursor: pointer;
}
/*# sourceMappingURL=common.css.map */