@charset "UTF-8";
.noto {
  font-size: 16px;
  font-family: "Noto Sans JP";
  letter-spacing: 1px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 8px;
  text-align: center;
}

h2 {
  font-family: "Noto Serif Display", serif;
  font-size: 144px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 10px;
  text-align: center;
  color: #F5F5F5;
}

h3 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 8px;
}

h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 8px;
}

h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 4px;
}

h6 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.price-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 3px;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5;
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 96px;
  }
}

@media (max-width: 575.98px) {
  h2 {
    font-size: 48px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  line-height: 1;
  color: #6C4D41;
  background-color: #fff;
  cursor: none;
}

main {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
  margin: 0px;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #6C4D41;
  cursor: none;
}

img,
video {
  max-width: 100%;
}

::-moz-selection {
  background-color: #E6DFD9;
  color: #6C4D41;
}

::selection {
  background-color: #E6DFD9;
  color: #6C4D41;
}

input {
  cursor: none;
}

.primary-color {
  color: #6C4D41;
}

.secondary-color {
  color: #E6DFD9;
}

.dark-color {
  color: #3C363B;
}

.bg-secondary {
  background: #E6DFD9;
}

.bg-secondary-dark {
  background: #EDDEDA;
}

.px-24 {
  padding: 0 24px;
}

.mx--24 {
  margin: -24px;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.wrap-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrap-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media (min-width: 1440.02px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  .wrap-row .w-30 {
    width: 45%;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: calc(100% - 40px);
  }
  .wrap-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .wrap-row .w-30 {
    width: 100%;
    margin: 40px auto;
  }
}

.titlebox {
  margin-bottom: 64px;
  width: 100%;
  position: relative;
}

.titlebox h1 {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 20px;
  left: 0;
}

.sub-title {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.left-fixed {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: auto;
  left: auto;
  padding: 8px;
  text-align: center;
  z-index: 20;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.copyright {
  display: block;
  position: absolute;
  width: 100vh;
  font-size: 12px;
}

.copyright-footer {
  margin: 0 0 0 5%;
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #dbdbdb;
}

@media (max-width: 767.98px) {
  .copyright-footer {
    text-align: center;
    margin: 20px 20px 0 20px;
  }
}

@media (max-width: 575.98px) {
  .left-fixed {
    position: fixed;
    top: auto;
    right: 10px;
    bottom: auto;
    left: auto;
    padding: 0;
  }
  .copyright {
    display: block;
    position: absolute;
    width: 100vh;
    font-size: 12px;
  }
}

.btn {
  padding: 12px 0;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.btn-primary {
  background-color: #6C4D41;
  color: #E6DFD9;
}

.btn-secondary {
  background-color: #E6DFD9;
  color: #6C4D41;
}

.btn-primary-outline {
  border: 1px solid #6C4D41;
  color: #6C4D41;
  -webkit-transition: all 800ms ease-in-out 0s;
  transition: all 800ms ease-in-out 0s;
}

.btn-primary-outline:hover {
  background-color: #6C4D41;
  color: #E6DFD9;
}

.btn-secondary-outline {
  border: 1px solid #E6DFD9;
  color: #E6DFD9;
  -webkit-transition: all 800ms ease 0s;
  transition: all 800ms ease 0s;
}

.btn-secondary-outline:hover {
  background-color: #E6DFD9;
  color: #6C4D41;
}

.tag {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 4px;
}

.btn-more {
  padding: 12px 16px;
  width: 150px;
  display: inline-block;
  position: relative;
  line-height: 1;
  letter-spacing: 2px;
  color: #3C363B;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-more .btn-bg {
  width: 100%;
  height: 1%;
  background-color: #6C4D41;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}

.btn-more::before {
  content: '';
  width: 12px;
  height: 1px;
  background: #3C363B;
  position: absolute;
  top: 40%;
  margin-top: 2px;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-more::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 1px solid #3C363B;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin-top: -1px;
  top: 40%;
  right: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-more:hover {
  color: #fff;
}

.btn-more:hover .btn-bg {
  display: block;
  height: 100%;
}

.btn-more:hover::before {
  width: 30px;
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
}

.btn-more:hover::after {
  -webkit-transform: translate3d(20px, 0, 0) rotate(45deg);
          transform: translate3d(20px, 0, 0) rotate(45deg);
}

.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  overflow: hidden;
  pointer-events: none;
  /* 寫在容器才會影響下面的 */
  mix-blend-mode: difference;
}

.cursor {
  width: 10px;
  height: 10px;
  background-color: #6C4D41;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

.ball {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #6C4D41;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 80% 80%;
          transform-origin: 80% 80%;
  opacity: 0.3;
  -webkit-transition: -webkit-transform .02s ease-in-out;
  transition: -webkit-transform .02s ease-in-out;
  transition: transform .02s ease-in-out;
  transition: transform .02s ease-in-out, -webkit-transform .02s ease-in-out;
}

@-webkit-keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

@keyframes borderAnim {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

.-small {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.sliderBlock {
  width: 30%;
  margin-top: 100px;
  position: relative;
}

.slider-control-wrap {
  width: 100%;
  position: absolute;
  top: calc(100% - 80px);
  left: calc(100% + 60px);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/* 數字導航列 */
.swiper-pagination-bullet {
  width: auto !important;
  background-color: transparent;
  cursor: none !important;
  font-size: 20px;
  padding: 0 5px;
}

/* 左右箭頭 */
.swiper-button-next,
.swiper-button-prev {
  cursor: none;
}

.swiper-button-prev {
  float: left;
  left: -10px;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0 30px 10px 0;
  width: 50px;
  height: 50px;
  position: relative;
  top: 0%;
  border-radius: 50%;
  cursor: none;
  color: transparent;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #E6DFD9;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: ' ';
  width: 50px;
  height: 50px;
}

.swiper-button-prev:after {
  background: url(../assets/arrow-left.svg) center no-repeat;
}

.swiper-button-next:after {
  background: url(../assets/arrow-right.svg) center no-repeat;
}

.-thumbs {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbsNav {
  margin: 20px 10px 10px 0;
  width: 60px !important;
  height: 60px;
  overflow: hidden;
  border: 2px solid #E6DFD9;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.thumbnail {
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  -webkit-transition: 800ms;
  transition: 800ms;
}

.thumbnail:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar {
  width: 100vw;
  position: fixed;
  top: 0%;
  z-index: 9;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: #ffffff40;
}

.container-navbar {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item {
  padding: 16px 30px;
}

.navlink {
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
}

.navlink.active {
  font-weight: 400;
  border-bottom: 1px solid #6C4D41;
}

.navlink .underline {
  margin-top: 6px;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #6C4D41;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.navlink:hover .underline {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .navbar-collapse {
    display: none !important;
  }
}

.barres {
  width: 24px;
  height: 24px;
  position: relative;
  right: 0;
  /* transform: translate(-50%, -50%); */
  z-index: 99;
}

.hamburger1,
.hamburger2 {
  width: 24px;
  height: 1px;
  background-color: #6C4D41;
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 99;
}

.hamburger1 {
  top: 6px;
}

.hamburger2 {
  top: 18px;
}

.barres.active .hamburger1 {
  top: 0;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.barres.active .hamburger2 {
  top: 0;
  background-color: white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu {
  left: -100%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: fixed;
  top: 0;
  background-color: #3C363B;
  z-index: 20;
}

.menubg {
  width: 30%;
  height: 100vh;
  background: url(../assets/menu_img.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.menu-content {
  padding: 60px;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 60px;
}

.menu-link-wrap li {
  padding-top: 30px;
}

.menulink {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0px;
  padding: 10px 0;
  letter-spacing: 8px;
  color: #E6DFD9;
}

.menu-bottom-wrap {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu-bottom-title {
  display: block;
  width: 100%;
  color: #E6DFD9;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.menu-bottom-box1 p {
  color: #E6DFD9;
  margin: 0 0 16px 0;
}

.menu-bottom-box2 {
  margin: 0 60px;
}

.menu-bottom-box2 a {
  margin: 0 0 16px 0;
  display: block;
}

.menu-bottom-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-bottom-box3 .btn {
  max-height: 50px;
  padding: 16px 42px;
  letter-spacing: 2px;
}

.menu-bottom-box3 :first-child {
  margin: 0 20px 0 0;
}

.menu-copyright {
  display: block;
  width: 100%;
  color: #E6DFD9;
  opacity: 50%;
  letter-spacing: 1px;
  margin: 10px 0 0 0;
}

@media (min-width: 1500px) {
  .menulink {
    margin: 30px 0px;
    font-size: 48px;
  }
}

@media (max-width: 1199.98px) {
  .menu-content {
    padding: 40px;
  }
  .menu-contact-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu-contact-wrap .menu-bottom-title {
    display: none;
  }
  .menu-bottom-box1 p {
    margin: 0 0 12px 0;
  }
  .menu-bottom-box2 {
    margin: 0 20px;
  }
  .menu-bottom-box3 .btn {
    padding: 16px 32px;
  }
  .menu-bottom-box3 :first-child {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 767.98px) {
  .menubg {
    display: none;
  }
  .menu-content {
    width: 100%;
  }
  .menu-bottom-box3 {
    width: 100%;
  }
  .menu-copyright {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .menu-content {
    padding: 20px;
  }
  .menulink {
    font-size: 24px;
  }
  .menu-bottom-box2 {
    margin: 5px;
  }
  .menu-bottom-box3 .btn {
    width: 48%;
    padding: 16px 32px;
  }
  .menu-bottom-box3 :first-child {
    margin: 0 20px 0 0;
  }
}

.footer {
  padding: 64px 0px;
  background-color: #f9f9f9;
}

.container-footer {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-footer a {
  display: block;
  padding: 8px 0;
  color: #3C363B;
  letter-spacing: 2px;
}

.ft-infobox div {
  padding: 6px 0px;
  line-height: 1.5;
  color: #3C363B;
}

.brandbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.brandbox h4 {
  font-family: 'Cormorant Garamond';
  font-size: 54px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
  margin-bottom: 20px;
  position: relative;
}

.brandbox h4 .ft-ball {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  background-color: #6c4d41;
  position: absolute;
  right: -4%;
  top: 0%;
  opacity: 0.3;
  -webkit-animation: borderAnim-ft 3s ease-in infinite;
          animation: borderAnim-ft 3s ease-in infinite;
}

@-webkit-keyframes borderAnim-ft {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

@keyframes borderAnim-ft {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

.ft-follow-box {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ft-follow-box .ig {
  margin-left: 40px;
  margin-right: 15px;
  line-height: 1;
}

.ft-follow-box .fb {
  margin-left: 10px;
  line-height: 1;
}

@media screen and (max-width: 767.98px) {
  .footer {
    padding: 30px 0px;
  }
  .sitemap {
    display: block;
    width: 25%;
  }
  .info-box {
    display: block;
    width: 70%;
  }
  .brandbox {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column wrap !important;
            flex-flow: column wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 40px;
    width: 100%;
  }
  .brandbox h4 {
    font-size: 54px;
  }
  .brandbox p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .follow-box {
    margin-left: -20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 575.98px) {
  .container-footer {
    width: calc(100% - 40px);
  }
}

.hero-section {
  margin: 0 auto;
  padding: 90px 5% 0px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoBlock {
  width: 70%;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.videoBlock .brand-video {
  max-width: 100%;
}

.videoBlock img {
  margin: -20px 20px 0 0;
  z-index: 10;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 180px 0;
}

.about-l {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.about-l .titlebox {
  display: inline-block;
  width: auto;
}

.about-r {
  margin: 0 0 0 50px;
  width: 40%;
}

.about-r p {
  margin-top: 20px;
}

.ab-imgbox {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.about-img {
  margin-right: 20px;
}

.works-section {
  width: 100%;
  overflow: hidden;
  margin: 180px 0;
}

.index-works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-works-card p {
  margin-top: 12px;
}

.index-works-card.left {
  margin-top: 150px;
  margin-left: -120px;
}

.index-works-card.right {
  margin-top: 150px;
  margin-right: -120px;
}

.arts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 180px;
}

.art-l {
  width: 50%;
  height: 540px;
  background: url("../assets/arts.jpg") no-repeat 55% 50%;
  background-size: cover;
}

.art-r {
  position: relative;
  padding-left: 64px;
}

.art-r h4 {
  margin-bottom: 32px;
}

.art-r img {
  position: absolute;
  bottom: -10%;
  left: -20%;
  z-index: -1;
}

@media (max-width: 996.98px) {
  .about-r .w-70 {
    width: 90%;
  }
  .works-section {
    margin: 80px 0;
  }
  .index-works-card.left {
    margin-top: 90px;
    margin-left: -40px;
  }
  .index-works-card.right {
    margin-top: 90px;
    margin-right: -40px;
  }
  .art-l {
    width: 90%;
    background-size: contain;
  }
  .art-r {
    margin: 40px 0;
    width: 74%;
  }
  .art-r h4 {
    font-size: 24px;
    line-height: 1.75;
  }
  .art-r h4 br {
    content: "";
    display: none;
  }
}

@media (max-width: 767.98px) {
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 60px 0;
  }
  .about-l {
    width: 90%;
    margin: 0 auto;
  }
  .about-r {
    width: 90%;
    margin: 0 auto;
  }
  .ab-imgbox {
    margin-top: 40px;
  }
  .index-works-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .index-works-card {
    margin: 0 auto;
    width: 90%;
  }
  .index-works-card.right,
  .index-works-card.left {
    margin: 0 auto;
  }
  .arts-section {
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .hero-section {
    padding: 60px 0 0 0;
  }
  .videoBlock {
    width: 90%;
    margin: 0 auto;
    padding-left: 0px;
  }
  .videoBlock img {
    margin: 0;
    padding: 0 20px;
  }
  .sliderBlock {
    margin: 0 0 30px 0;
    width: 100%;
  }
  .about-r {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .ab-imgbox {
    width: 100%;
  }
  .ab-imgbox img {
    width: 100%;
  }
  .works-section {
    margin: 40px 0;
  }
  .art-l {
    width: 90%;
  }
  .art-r {
    width: 100%;
  }
  .art-r h4 {
    font-size: 16px;
  }
  .art-r h4 br {
    content: "";
    display: block;
  }
}

.display-title {
  position: fixed;
  top: 80px;
  right: -1300px;
  font-size: 288px;
  color: #E6DFD9;
  white-space: nowrap;
  z-index: -1;
}

.art-title {
  margin: 200px 0px 100px 0px;
  text-align: center;
}

.art-wrap {
  margin: 120px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.arts-card {
  padding: 0 36px;
  display: block;
  width: calc(100% / 3);
}

.arts-card-1 {
  margin: 200px 0px 0px 0px;
}

.arts-card-3 {
  margin: -100px 0px 0px 0px;
}

.arts-card-4 {
  margin: 200px 0px 0px 0px;
}

.arts-card-5 {
  margin: -60px 0px 0px 0px;
}

.arts-card-6 {
  margin: 250px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .display-title {
    display: none;
  }
  .art-title {
    margin: 120px 0px 60px 0px;
  }
  .art-wrap {
    margin-bottom: 100px;
  }
  .art-wrap .w-30,
  .art-wrap .w-40 {
    width: 45%;
  }
  .arts-card-1,
  .arts-card-2,
  .arts-card-3,
  .arts-card-5,
  .arts-card-6 {
    margin: 0 auto 40px;
  }
  .arts-card-1 p,
  .arts-card-2 p,
  .arts-card-3 p,
  .arts-card-5 p,
  .arts-card-6 p {
    font-size: 12px;
  }
  .arts-card-4 {
    margin: -40px auto 40px;
  }
  .lightbox img {
    max-width: 90%;
    max-height: auto;
  }
}

@media (max-width: 575.98px) {
  .arts-card {
    width: 100%;
  }
  .arts-card-4 {
    margin: 0px auto 40px;
  }
}

.work-banner {
  height: 580px;
  background: url(../assets/works_banner.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.work-title-wrap {
  margin: -100px 0 100px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.work-title-wrap .work-title-box {
  padding: 35px 60px;
  margin-right: 50px;
  background-color: #E6DFD9;
  text-align: center;
}

.work-title-wrap .work-title-box h3 {
  margin: 35px 0px;
}

.works-list {
  margin: 0 -28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-card {
  padding: 0 28px;
  margin-bottom: 64px;
  width: calc(100% / 3);
}

.works-card div {
  margin: 15px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-series-wrap {
  margin: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-series-wrap .w-45 {
  width: 47%;
}

.works-series-wrap h4 {
  margin: 32px 0px;
}

.works-series-wrap h6 {
  margin: 10px 0px 10px 0px;
}

@media (max-width: 1199.98px) {
  .work-banner {
    height: 500px;
  }
  .work-title-wrap {
    margin: -60px 0 100px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .work-title-wrap .work-title-box {
    padding: 35px 30px;
    margin-right: 20px;
  }
  .work-title-wrap .work-title-box h3 {
    margin: 20px 0px;
    font-size: 36px;
  }
}

@media (max-width: 767.98px) {
  .work-banner {
    height: 500px;
  }
  .work-title-wrap {
    margin: -60px auto 60px auto;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .work-title-wrap .work-title-box {
    margin: 0 auto;
    padding: 35px 30px;
  }
  .work-title-wrap .work-title-box h3 {
    font-size: 36px;
  }
  .work-title-wrap .w-50 {
    margin: 20px auto;
    width: 85%;
    text-align: center;
  }
  .works-series-wrap .w-45 {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .works-card {
    margin-bottom: 24px;
    width: 100%;
  }
}

.work-detail-wrap {
  margin: 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-img-wrap {
  margin: 0 30px 0 0;
  width: 60%;
}

.work-slider-viewport {
  width: 100%;
  height: 75%;
  position: relative;
  overflow: hidden;
}

.work-slider-container {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow-y: auto;
}

.work-slider-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-info-wrap {
  margin: 0 0 0 30px;
  width: 32%;
}

.work-info-wrap .work-info-title {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-info-wrap .dilver {
  margin: 20px 0;
  width: 50px;
  height: 1px;
  background-color: #6C4D41;
}

.work-info-wrap table {
  margin: 20px 0;
}

.work-info-wrap table tr td {
  padding: 8px 20px 8px 0;
}

.work-info-wrap .work-btnbox {
  margin: 0 0 0 0;
  padding: 30px;
  background-color: #f9f9f9;
}

.work-info-wrap .work-btnbox .amount {
  margin-bottom: 30px;
}

.work-info-wrap .work-btnbox a {
  margin-bottom: 10px;
}

.amount span {
  margin-right: 30px;
}

.value-button {
  display: inline-block;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 80px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768.02px) {
  .work-detail-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .work-img-wrap {
    width: 100%;
  }
  .work-img-wrap .swiper-container.gallery-top {
    height: 40vh;
  }
  .work-info-wrap {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.class-title-wrap {
  margin: 10% auto 400px 8%;
  width: 36%;
}

.class-title-wrap h3 {
  margin: 10px 0px 30px 0px;
}

.class-img-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10%;
  right: 3%;
  z-index: -1;
}

.class-img-wrap .class-bn-1 {
  margin-top: 30%;
  margin-right: 30px;
  width: 45%;
  height: 400px;
  background: url(../assets/class_bn_01.png) no-repeat 50% 50%;
  background-size: cover;
}

.class-img-wrap .class-bn-2 {
  margin-top: 4%;
  width: 55%;
  height: 500px;
  background: url(../assets/class_bn_02.png) no-repeat 50% 50%;
  background-size: cover;
}

@media (max-width: 768.02px) {
  .class-title-wrap {
    margin: 100px 0 40px 0;
    padding: 0px 40px;
    width: 100%;
  }
  .class-title-wrap h5 {
    font-size: 16px;
  }
  .class-img-wrap {
    margin: 0 0 50px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    top: 0%;
  }
  .class-img-wrap .class-bn-1 {
    margin-top: 15%;
    width: 40%;
    height: 300px;
  }
  .class-img-wrap .class-bn-2 {
    width: 55%;
    height: 300px;
  }
}

.contact-section {
  margin: 120px 0;
}

.index-contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact-l {
  width: 40%;
  color: #3C363B;
  position: relative;
  overflow: hidden;
}

.contact-l h2 {
  position: absolute;
  z-index: -1;
  right: 0px;
}

.text-wrap {
  margin: 100px 0 0 15%;
}

.text-wrap h1 {
  margin-bottom: 20px;
}

.text-wrap p {
  margin-bottom: 20px;
}

.info-box div {
  padding: 6px 0px;
  line-height: 1.5;
  color: #3C363B;
}

.follow-box {
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-box .ig {
  margin: 5px 15px 0px 40px;
}

.follow-box .fb {
  margin: 5px 15px 0px 10px;
}

.contact-img {
  width: 60%;
  height: 400px;
  background: url(../assets/contact.jpg) no-repeat 55% 50%;
  background-size: cover;
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-r {
  width: 50%;
}

.contact-txt {
  margin: 32px 32px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-column {
  padding: 24px 32px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.input-string {
  position: relative;
}

.input {
  padding: 12px;
  width: 100%;
  color: #3C363B;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
}

.input:focus {
  outline: none;
}

.input:focus + .input-label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 70%;
  font-size: 14px;
}

.transform_y {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 70%;
  font-size: 14px;
}

.select {
  margin: -7px 0 0 0;
  padding: 12px;
  width: 100%;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  color: #3C363B;
  background-color: transparent;
  -webkit-appearance: none;
}

.select::after {
  content: '';
  width: 600px;
  height: 6px;
  border: 3px solid #3C363B;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -1px;
}

.select:focus {
  outline: none;
}

.input-label {
  position: absolute;
  color: #3C363B;
  top: 8px;
  left: 8px;
  pointer-events: none;
  -webkit-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}

.input-textarea {
  padding: 12px;
  width: 100%;
  color: #3C363B;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  resize: none;
  outline: none;
}

.input-textarea:focus + .input-label {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 70%;
  font-size: 14px;
}

.submit-btn {
  margin: 0px 32px;
  padding: 12px;
  display: inline-block;
  width: 150px;
  background-color: transparent;
  border: 1px solid #3C363B;
  border-width: 0 0 1px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: 'Noto Serif TC', serif;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .contact-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-l {
    width: 100%;
  }
  .text {
    margin-left: 14%;
  }
  .contact-r {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .contact-l .text {
    margin-left: 40px;
  }
  .contact-section {
    margin-top: 0;
  }
  .index-contact-wrap {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .info-box {
    width: 100%;
  }
  .follow-box {
    margin: 20px 0px;
  }
  .contact-l {
    width: 100%;
    padding: 0 20px;
  }
  .contact-l .text-wrap {
    margin: 40px 0 0 0;
  }
  .contact-img {
    width: 100%;
  }
  .contact-r {
    width: 100%;
    padding: 0 20px;
  }
  .contact-txt {
    margin: 32px 10px;
    font-size: 18px;
  }
  .form-column {
    padding: 24px 10px;
  }
}

@media (max-width: 575.98px) {
  .contact-wrap {
    margin: 100px auto;
  }
  .contact-txt {
    font-size: 14px;
    margin: 12px 8px;
  }
  .form-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .form-column {
    padding: 24px 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .submit-btn {
    margin: 10px;
  }
}

.class-hero {
  margin: 100px auto 300px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: end;
}

.class-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.class-bn {
  margin: 40px 0 0 20px;
}

.class-bg {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  background-color: #3C363B;
  z-index: -1;
}

/* ALL */
.hrWrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

/* TRACK 藍色 */
.classContainer {
  padding: 0em 2em;
  text-align: center;
}

/* FRAME */
.classContainerSm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220vw;
  margin-left: 200px;
  margin-bottom: 150px;
}

/* ITEM */
.classItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  background-color: #E6DFD9;
  width: 40vw;
  height: 600px;
  position: relative;
}

.classCard p,
.classCard h5 {
  text-align: left;
}

.classCard img {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 50px;
}

.courseMobile {
  display: none;
}

@media (max-width: 768.02px) {
  .class-hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .class-txt,
  .class-bn {
    width: 100%;
  }
  .class-bg {
    margin: 400px 0 0 0;
    width: 90%;
    height: 200px;
  }
  .hrWrapper {
    display: none;
  }
  .courseMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: -200px;
  }
  .courseCard {
    padding: 50px 40px;
    margin: 60px auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #E6DFD9;
    white-space: normal;
  }
  .courseCard p,
  .courseCard h5 {
    text-align: left;
  }
  .courseCard img {
    margin: 40px auto;
    width: 280px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 575.98px) {
  .courseMobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .class-txt h3 {
    font-size: 24px;
    padding: 0 0 10px 0;
  }
  .class-txt h5 {
    font-size: 18px;
    padding: 0 0 10px 0;
  }
  .class-bn {
    margin: 0;
  }
  .class-bg {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */