.photo {
  max-width: 30%;
  margin: 0 5px;
  position: relative;
  z-index: 1;
}

.thumbnail {
  width: 100%;
}

/* .arts-card:after {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  bottom: 0;
  background: linear-gradient(black 70%, transparent);
  transform: scale(1.1) rotateX(180deg);
} */

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000066;
  z-index: -1;
  opacity: 0;
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 70%;
  margin-top: 10%;
}

.lightbox:target {
  /** Unhide lightbox **/
  opacity: 1;
  z-index: 999;
  transition: 0.5s;
}