// 中文字體
// font-family: 'Noto Serif JP', serif; 明體
// 300 大部分字體、內文
// 500 H3大標題

// font-family: 'Noto Sans JP', sans-serif; 黑體 
// 300 H1標題 / Footer / 按鈕

// 英數
// font-family: 'Noto Serif Display', serif; 英文字體
// 300 italic H2大英文標題

// font-family: 'Roboto', sans-serif; 
// 300 價格 / copyright / 電話 / email

//text-align
$align-center: center;
$align-left: left;

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

//typographic
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-align: $align-center;
  letter-spacing: 8px;
}

h2 {
  font-family: 'Noto Serif Display', serif;
  font-size: 144px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 10px;
  color: #F5F5F5;
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 8px;
}

h4 {
  font-size: 36px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 8px;
}

h5 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 4px;
}

h6 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.price-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 3px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.caption {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.label {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 2px;
}

//component
//title
.titlebox {
  margin-bottom: $sp-64;
  width: 100%;
  position: relative;
}

.titlebox {
  h1 {
    position: absolute;
    top: auto;
    right: 0%;
    left: 0%;
    bottom: 20px;
  }
}

// .copyright {
//   position: fixed;
//   top: 60%;
//   right: -5%;
//   transform: rotate(90deg);
//   z-index: 9;
// }

.left-fixed {
  position: fixed;
  right: 20px;
  padding: 8px;
  text-align: center;
  z-index: 99;
  transform: rotate(90deg);

  .copyright {
    display: block;
    position: absolute;
    width: 100vh;
    font-size: 12px;
  }
}

@media screen and (max-width: 575.98px) {
  .left-fixed {
    right: 0px;
    text-align: center;
    z-index: 99;
    transform: rotate(90deg);

    .copyright {
      display: block;
      position: absolute;
      width: 100vh;
      font-size: 12px;
    }
  }
}