//RWD  ---OK
.footer {
  padding: 64px 0px;
  background-color: #f9f9f9;
}

.container-footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;

  a {
    display: block;
    padding: 8px 0;
    color: $dark-color;
    letter-spacing: 2px;
  }
}
.ft-infobox {
  div {
    padding: 6px 0px;
    line-height: 1.5;
    color: $dark-color;
  }
}
.brandbox {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;

  h4 {
    font-family: 'Cormorant Garamond';
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    margin-bottom: 20px;
    position: relative;

    .ft-ball {
      width: 50px;
      height: 50px;
      border-radius: 60px;
      background-color: #6c4d41;
      position: absolute;
      right: -4%;
      top: 0%;
      opacity: 0.3;
      animation: borderAnim-ft 3s ease-in infinite;
    }
    @keyframes borderAnim-ft {
      0%,
      100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      }

      25%,
      75% {
        border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
      }

      50% {
        border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
      }
    }
  }
}

.ft-follow-box {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .ig {
    margin-left: 40px;
    margin-right: 15px;
    line-height: 1;
  }

  .fb {
    margin-left: 10px;
    line-height: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .footer {
    padding: 30px 0px;
  }

  .sitemap {
    display: block;
    width: 25%;
  }

  .info-box {
    display: block;
    width: 70%;
  }

  .brandbox {
    flex-flow: column wrap !important;
    justify-content: center !important;
    align-content: center;
    margin-top: 40px;
    width: 100%;

    h4 {
      font-size: 54px;
    }

    p {
      align-self: center;
    }
  }

  .follow-box {
    margin-left: -20px;
    align-self: center;
  }
}

@media screen and (max-width: 575.98px) {
  .container-footer {
    width: calc(100% - 40px);
  }
}
