.menu-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  background-color: $dark-color;

  //左邊圖片
  .menubg {
    width: 30%;
    height: 100vh;
    background: url(../assets/menu_img.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  //右邊容器
  .menu-content {
    padding: 60px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    //上方連結
    .menu-link-wrap {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      .menulink {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin: 10px 0px;
        padding: 10px 0;
        font-family: 'Noto Serif TC', serif;
        font-size: 32px;
        letter-spacing: 8px;
        font-weight: 100;
        color: $secondary-color;
      }
    }

    //底部contact
    .menu-contact-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      //title
      .item-1 {
        display: block;
        width: 100%;
        color: $secondary-color;
        font-size: 20px;
        margin: 0 0 20px 0;
      }

      .menu-info-wrap {
        width: 30%;

        //address&phone
        .item-2,
        .item-3 {
          color: $secondary-color;
          margin: 0 0 16px 0;
        }
      }

      .menu-sns-wrap {
        width: 20%;

        //fb&ig
        .item-4,
        .item-5 {
          margin: 0 0 16px 0;
          display: block;
        }
      }

      .menu-btn-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        //btn
        .item-6,
        .item-7 {
          display: inline-block;
          max-height: 50px;
          margin: 0px 10px;
          padding: 16px 42px;
          font-family: 'Noto Serif TC', serif;
          letter-spacing: 2px;
        }
      }

      //copyright
      .item-8 {
        display: block;
        width: 100%;
        color: $secondary-color;
        opacity: 50%;
        letter-spacing: 1px;
        margin: 10px 0 0 0;
      }
    }
  }
}

//desktops
@media (max-width: 1199.98px) {
  .menu-section {

    //右邊容器
    .menu-content {
      padding: 40px;

      //底部contact
      .menu-contact-wrap {
        flex-flow: row wrap !important;
        justify-content: flex-start !important;

        //title
        .item-1 {
          display: none;
        }

        .menu-info-wrap {
          width: 300px;

          //address&phone
          .item-2,
          .item-3 {
            margin: 0 0 12px 0;
          }
        }

        .menu-sns-wrap {
          width: 20%;
        }

        .menu-btn-wrap {
          width: 40%;

          //btn
          .item-6,
          .item-7 {
            display: block;
            width: auto;
            margin: 0 10px 0 0;
            padding: 16px 32px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .menu-section {
    .menubg {
      display: none;
    }

    //右邊容器
    .menu-content {
      width: 100%;

      .menu-contact-wrap {
        .menu-btn-wrap {
          width: 100%;
        }

        .item-8 {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .menu-section {
    .menu-content {
      padding: 20px;

      .menu-link-wrap {
        .menulink {
          font-size: 24px;
        }
      }
    }
  }
}