//theme color
$primary-color: #6C4D41;
$secondary-color: #E6DFD9;
$secondary-color-dark: #EDDEDA;
$dark-color: #3C363B;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $noto-zhs, $serif;
  line-height: 1;
  color: $primary-color;
  background-color: #fff;
  cursor: none;
}

main {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

  li {
    list-style-type: none;
    margin: 0px;
  }
}

a {
  font-size: 14px;
  text-decoration: none;
  color: $primary-color;
  cursor: none;
}

img,
video {
  max-width: 100%;
}

// body,
// a,
// input,
// select,
// textarea,
// button {
//   cursor: url(../assets/cursor.svg), auto !important;
// }

::selection {
  background-color: $secondary-color;
  color: $primary-color;
}

// .loading-screen 
//   position: relative
//   padding-left: 0
//   padding-right: 0
//   padding-top: 0
//   background-color: $secondary-color-dark
//   width: 0%
//   height: 100%

// .load-container 
//   position: fixed
//   top: 0
//   left: 0
//   width: 100%
//   height: 100vh
//   overflow: hidden
//   z-index: 10
//   pointer-events: none