.cursor-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  overflow: hidden;
  pointer-events: none;
}

.cursor {
  width: 10px;
  height: 10px;
  background-color: #6C4D41;
  // background: #7492A7;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

.ball {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #6C4D41;
  // background-color: #7492A7;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform-origin: 80% 80%;
  opacity: 0.3;
  transition: transform .02s ease-in-out;
  // animation: borderAnim 4s linear infinite;
}

@keyframes borderAnim {

  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  25%,
  75% {
    border-radius: 64% 36% 72% 28% / 35% 60% 40% 65%;
  }

  50% {
    border-radius: 46% 54% 38% 62% / 66% 38% 62% 34%;
  }
}

.-small {
  transform: translate(-50%, -50%) scale(0.9);
}

@media (max-width: 767.98px) {
  .cursor-wrap {
    display: none;
  }

  .cursor {
    display: none;
  }

  .ball {
    display: none;
  }
}