//RWD ---OK

.display-title {
  position: fixed;
  top: 80px;
  right: -1300px;
  font-size: 288px;
  color: $secondary-color;
  white-space: nowrap;
  z-index: -1;
}

.art-title {
  margin: 200px 0px 100px 0px;
  text-align: center;
}

.art-wrap {
  margin: 120px auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

//arts-card

.arts-card {
  display: block;
}

.arts-card-1 {
  margin: 200px 0px 0px 0px;
}

.arts-card-3 {
  margin: -100px 0px 0px 0px;
}

.arts-card-4 {
  margin: 200px 0px 0px 0px;
}

.arts-card-5 {
  margin: -60px 0px 0px 0px;
}

.arts-card-6 {
  margin: 250px 0px 0px 0px;
}

@media (max-width: 767.98px) {
  .display-title {
    display: none;
  }

  .art-title {
    margin: 120px 0px 60px 0px;
  }

  .art-wrap {
    margin-bottom: 100px;

    .w-30,
    .w-40 {
      width: 45%;
    }
  }

  .arts-card-1,
  .arts-card-2,
  .arts-card-3,
  .arts-card-5,
  .arts-card-6 {
    margin: 0 auto 40px;

    p {
      font-size: 12px;
    }
  }

  .arts-card-4 {
    margin: -40px auto 40px;
  }

  .lightbox img {
    max-width: 90%;
    max-height: auto;
  }
}

@media (max-width: 575.98px) {
  .art-wrap {

    .w-30,
    .w-40 {
      width: 100%;
    }

    .arts-card-4 {
      margin: 0px auto 40px;
    }
  }
}