.class-hero {
  margin: 100px auto 300px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: end;
}

.class-txt {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.class-bg {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  background-color: $dark-color;
  z-index: -1;
}


/* ALL */
.hrWrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

/* TRACK 藍色 */
.classContainer {
  padding: 0em 2em;
  text-align: center;
}

/* FRAME */
.classContainerSm {
  display: flex;
  width: 220vw;
  margin-left: 200px;
  margin-bottom: 150px;
}

/* ITEM */
.classItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.classCard {
  padding: 60px 50px;

  background-color: $secondary-color;
  width: 500px;
  height: 650px;
  position: relative;
  white-space: normal;

  p,
  h5 {
    text-align: left;
  }

  img {
    width: 290px;
    align-self: center;
    margin: 20px 50px;
  }
}