.class-hero {
  margin: 100px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: end;
}

.class-txt {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.class-bg {
  width: 50%;
  height: 500px;
  position: absolute;
  right: 0;
  background-color: $dark-color;
  z-index: -1;
}

.track {
  width: 100%;
  height: 1600px;
}

.camera {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.frame {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 100%;
  transform: translateX(0);
}

.item {
  padding: 35px 50px;
  margin: 60px;
  background-color: $secondary-color;
  width: 500px;
  height: 600px;
  position: relative;
  white-space: normal;

  img {
    width: 290px;
    align-self: center;
    margin: 20px 50px;
  }
}