//hero
.hero-section {
  margin: 0 auto;
  padding: 90px 5% 0px 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.videoBlock {
  width: 70%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .brand-video {
    max-width: 100%;
  }

  img {
    margin: -20px 20px 0 0;
    z-index: 10;
  }
}

//about
.about-section {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  margin: 180px 0;
}

.about-l {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;

  .titlebox {
    display: inline-block;
    width: auto;
  }
}

.about-r {
  margin: 0 0 0 50px;
  width: 40%;

  p {
    margin-top: 20px;
  }
}

.ab-imgbox {
  margin-top: 60px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.about-img {
  // width: 50%;
  margin-right: 20px;
}

//works
.works-section {
  width: 100%;
  overflow: hidden;
  margin: 180px 0;
}

.index-works-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.index-works-card {
  p {
    margin-top: $sp-12;
  }
}

.index-works-card.left {
  margin-top: 150px;
  margin-left: -120px;
}

.index-works-card.right {
  margin-top: 150px;
  margin-right: -120px;
}

//art
.arts-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 180px;
}

.art-l {
  width: 50%;
  height: 540px;
  background: url('../assets/arts.jpg') no-repeat 55% 50%;
  background-size: cover;
}

.art-r {
  position: relative;
  padding-left: 64px;

  h4 {
    margin-bottom: 32px;
  }

  img {
    position: absolute;
    bottom: -10%;
    left: -20%;
    z-index: -1;
  }
}

@media (max-width: 996.98px) {

  .about-r {
    .w-70 {
      width: 90%;
    }
  }

  .works-section {
    margin: 80px 0;
  }

  .index-works-card.left {
    margin-top: 90px;
    margin-left: -40px;
  }

  .index-works-card.right {
    margin-top: 90px;
    margin-right: -40px;
  }

  .arts-section {
    .titlebox {
      margin: 0 0 20px 0;
    }
  }

  .art-l {
    height: 300px;
    width: 90%;
    background-size: contain;
  }

  .art-r {
    margin: 40px 0;
    width: 74%;

    h4 {
      font-size: 24px;
      line-height: 1.75;

      br {
        content: "";
        display: none;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .about-section {
    flex-flow: column wrap;
    margin: 60px 0;
  }

  .about-l {
    width: 90%;
    margin: 0 auto;
  }

  .about-r {
    width: 90%;
    margin: 0 auto;
  }

  .ab-imgbox {
    margin-top: 40px;
  }

  .index-works-wrap {
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .index-works-card {
    margin: 40px auto;
    width: 90%;
  }

  .index-works-card.right,
  .index-works-card.left {
    margin: 40px auto;
  }

  .arts-section {
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .hero-section {
    padding: 60px 0 0 0;
  }

  .videoBlock {
    width: 90%;
    margin: 0 auto;
    padding-left: 0px;

    img {
      margin: 0;
      padding: 0 20px;
    }
  }

  .sliderBlock {
    margin: 0 0 30px 0;
    width: 100%;
    // height: 100vh;
  }

  .about-r {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .ab-imgbox {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .works-section {
    margin: 40px 0;
  }

  .art-l {
    width: 90%;
    margin: 0 auto;
  }

  .art-r {
    margin: 10px 0 100px 0;
    width: 100%;

    h4 {
      font-size: 16px;

      br {
        content: "";
        display: block;
      }
    }
  }
}